<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="nav-link" class="navbar-brand">
      <img src="../../assets/coffee-mug.png" alt="" srcset="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="this.storeService.detailMode = false"
            routerLink="store"
            >Store</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact Us</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li *ngIf="this.storeService.loggedIn == true" class="nav-item ml-auto">
          <a (click)="onAdd()" style="cursor: pointer" class="nav-link"
            >Add Product</a
          >
        </li>
        <li class="nav-item ml-auto">
          <a *ngIf="this.storeService.loggedIn == false" class="nav-link"
            >Register</a
          >
        </li>
        <li *ngIf="this.storeService.loggedIn == true" class="nav-item ml-auto">
          <a class="nav-link">Profile</a>
        </li>
        <li
          *ngIf="this.storeService.loggedIn == false"
          class="nav-item ml-auto"
        >
          <a (click)="logIn()" class="nav-link">Login</a>
        </li>
        <li *ngIf="this.storeService.loggedIn == true" class="nav-item ml-auto">
          <a (click)="logOut()" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
