<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-6">
        <img src="../../assets/coffee-mug.png" alt="" />
        <hr class="light" />
        <p>Phone: +359 888421212</p>
        <p>purebeans@gmail.com</p>
        <p>42 Center</p>
        <p>Plovdiv, Plovdiv, 4200</p>
      </div>
      <div class="col-md-6">
        <hr class="light" />
        <h3>Working hours</h3>
        <hr class="light" />
        <p>Monday: 6.30am - 19.00pm</p>
        <p>Saturday: 6.30am - 13.00pm</p>
        <p>Sunday: Closed</p>
      </div>
      <div class="col-12">
        <hr class="light" />
        <h5>&copy; PureBeans.com</h5>
      </div>
    </div>
  </div>
</footer>
