<div class="container">
  <h1 class="text-center">Our Products</h1>
  <hr />
</div>

<div class="cards container padding">
  <div class="row padding">
    <!-- ? Product -->
    <div class="padding col-md-4">
      <div class="card">
        <img
          src="../../assets/products/pexels-cottonbro-4829069.jpg"
          alt="Responsive Image"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h4 class="card-title">Sibaristica</h4>
          <p class="card-text">
            Strong blend, deep roast. 100% Arabica imported from Etiopia. If you
            want that strong coffee smell this one is for you.
          </p>
          <a class="btn btn-outline-secondary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- ? Product -->

    <!-- ? Product -->
    <div class="padding col-md-4">
      <div class="card">
        <img
          src="../../assets/products/pexels-cottonbro-4829072.jpg"
          alt="Responsive Image"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h4 class="card-title">Specialty</h4>
          <p class="card-text">
            Light blend, light roast. 100% Arabica imported from South America.
            Want to drink coffee all day.
          </p>
          <a class="btn btn-outline-secondary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- ? Product -->

    <!-- ? Product -->
    <div class="padding col-md-4">
      <div class="card">
        <img
          src="../../assets/products/pexels-cottonbro-4829083.jpg"
          alt="Responsive Image"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h4 class="card-title">Sibaristica</h4>
          <p class="card-text">
            Medium blend, light roast. 100% Arabica imported from Japan. You
            need to know your coffee game for this one.
          </p>
          <a class="btn btn-outline-secondary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- ? Product -->

    <!-- ? Product -->
    <div class="padding col-md-4">
      <div class="card">
        <img
          src="../../assets/products/pexels-cottonbro-4829083.jpg"
          alt="Responsive Image"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h4 class="card-title">Sibaristica</h4>
          <p class="card-text">
            Medium blend, light roast. 100% Arabica imported from Japan. You
            need to know your coffee game for this one.
          </p>
          <a class="btn btn-outline-secondary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- ? Product -->

    <!-- ? Product -->
    <div class="padding col-md-4">
      <div class="card">
        <img
          src="../../assets/products/pexels-cottonbro-4829083.jpg"
          alt="Responsive Image"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h4 class="card-title">Sibaristica</h4>
          <p class="card-text">
            Medium blend, light roast. 100% Arabica imported from Japan. You
            need to know your coffee game for this one.
          </p>
          <a class="btn btn-outline-secondary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- ? Product -->

    <!-- ? Product -->
    <div class="padding col-md-4">
      <div class="card">
        <img
          src="../../assets/products/pexels-cottonbro-4829083.jpg"
          alt="Responsive Image"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h4 class="card-title">Sibaristica</h4>
          <p class="card-text">
            Medium blend, light roast. 100% Arabica imported from Japan. You
            need to know your coffee game for this one.
          </p>
          <a class="btn btn-outline-secondary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- ? Product -->

    <!-- ? Product -->
    <div class="padding col-md-4">
      <div class="card">
        <img
          src="../../assets/products/pexels-cottonbro-4829083.jpg"
          alt="Responsive Image"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h4 class="card-title">Sibaristica</h4>
          <p class="card-text">
            Medium blend, light roast. 100% Arabica imported from Japan. You
            need to know your coffee game for this one.
          </p>
          <a class="btn btn-outline-secondary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- ? Product -->
  </div>
</div>
