<div *ngIf="!this.storeService.addProductMode" class="cards container padding">
  <div
    *ngIf="
      this.storeService.detailMode == false &&
      this.storeService.editMode == false
    "
  >
    <h1 class="text-center">Our Products</h1>
    <hr />
    <app-store-list class="row padding"></app-store-list>
  </div>

  <div *ngIf="this.storeService.detailMode == true">
    <h1 class="text-center">Product Details</h1>
    <hr />
    <router-outlet class="row padding"></router-outlet>
  </div>

  <div *ngIf="this.storeService.editMode == true">
    <h1 class="text-center">Edit Product</h1>
    <hr />
    <router-outlet class="row padding"></router-outlet>
  </div>
</div>

<div *ngIf="this.storeService.addProductMode" class="text-center container">
  <h1 class="text-center">Add Products</h1>
  <hr />
  <form [formGroup]="coffeeForm" (ngSubmit)="onSubmit()">
    <!-- ? Buttons -->
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-dark m-2">Save</button> |
        <button (click)="onCancel()" type="button" class="btn btn-danger m-2">
          Cancel
        </button>

        <!-- ? Name -->

        <div class="form-group center">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>

        <!-- ? Description -->

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            formControlName="description"
            type="text"
            name="description"
            id="description"
            class="form-control"
            rows="3"
          ></textarea>
        </div>

        <!-- ? Image path -->

        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input
            type="text"
            name="imagePath"
            id="imagePath"
            class="form-control"
            formControlName="imagePath"
            #imagePath
          />
        </div>

        <!-- ? Weight and Roast type -->
        <div class="row">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <label for="weight">Weight</label>
                <input
                  type="number"
                  name="weight"
                  class="form-control"
                  formControlName="weight"
                  id="weight"
                />
              </div>
              <div class="col-sm-4">
                <label for="price">Price</label>
                <input
                  type="number"
                  name="price"
                  class="form-control"
                  formControlName="price"
                  id="price"
                />
              </div>
              <div class="col-sm-4">
                <label for="roast">Choose roast type</label>
                <select
                  formControlName="roast"
                  id="roast"
                  class="form-control"
                  name="roast"
                  id="roast"
                >
                  <option selected>Choose...</option>
                  <option>Dark Roast</option>
                  <option>Light Roast</option>
                  <option>Medium Roast</option>
                  <option>Medium-dark Roast</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- ? Image Preview -->
        <div class="form-group justify-content-center">
          <div class="row justify-content-center">
            <div class="col-xs-12 justify-content-center">
              <img
                *ngIf="imagePath.value != ''"
                [src]="imagePath.value"
                class="img-responsive justify-content-center"
                alt="Responsive Img"
                height="550px"
                width="600px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
