<div class="container text-center">
  <h1 class="display-2">Contact Us!</h1>
</div>

<!-- ? Contact form  -->
<form
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
  class="text-center w-50"
>
  <!-- ? Name -->
  <div class="form-group">
    <label for="name">Your name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="John"
      formControlName="name"
    />
  </div>

  <!-- ? Email -->
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="name@example.com"
      formControlName="email"
    />
  </div>

  <!-- ? Text -->
  <div class="form-group">
    <label for="message">Message</label>
    <textarea
      class="form-control"
      id="message"
      rows="3"
      placeholder="Coffee is the best ..."
      formControlName="message"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-dark">Send</button>

  <div *ngIf="isSubmitted" class="resultDisplay text-center">
    <hr />
    <h4>Thank you!</h4>
    <h5>We will get back to you as soon as possible</h5>
    <hr />

    <p class="lead">Here is a copy of your submition.</p>
    <p>{{ information.name }}</p>
    <p>{{ information.email }}</p>
    <p>{{ information.message }}</p>
    <hr />
  </div>
</form>

<div class="container text-center">
  <h1 class="display-4">Visit our store</h1>
</div>

<!-- ? Demo maps -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
