<div class="text-center container">
  <form [formGroup]="editCoffeForm" (ngSubmit)="onSubmit()">
    <!-- ? Buttons -->
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-dark m-2">Save</button> |
        <button type="button" class="btn btn-danger m-2" (click)="onCancel()">
          Cancel
        </button>

        <!-- ? Name -->

        <div class="form-group center">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>

        <!-- ? Description -->

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            formControlName="description"
            type="text"
            name="description"
            id="description"
            class="form-control"
            rows="4"
            maxlength="40"
          ></textarea>
        </div>

        <!-- ? Image path -->

        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input
            type="text"
            name="imagePath"
            id="imagePath"
            class="form-control"
            formControlName="imagePath"
            #imagePath
          />
        </div>

        <!-- ? Weight and Roast type -->
        <div class="row">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <label for="weight">Weight</label>
                <input
                  type="number"
                  name="weight"
                  class="form-control"
                  formControlName="weight"
                  id="weight"
                />
              </div>
              <div class="col-sm-4">
                <label for="price">Price</label>
                <input
                  type="number"
                  name="price"
                  class="form-control"
                  formControlName="price"
                  id="price"
                />
              </div>
              <div class="col-sm-4">
                <label for="roast">Choose roast type</label>
                <select
                  formControlName="roast"
                  id="roast"
                  class="form-control"
                  name="roast"
                  id="roast"
                >
                  <option selected>Choose...</option>
                  <option>Dark Roast</option>
                  <option>Light Roast</option>
                  <option>Medium Roast</option>
                  <option>Medium-dark Roast</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- ? Image Preview -->
        <div class="form-group justify-content-center">
          <div class="row justify-content-center">
            <div class="col-xs-12 justify-content-center">
              <img
                [src]="imagePath.value"
                class="img-responsive justify-content-center"
                alt=""
                height="500px"
                width="500px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
