/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #222;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
